<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/vue.js"></script>
</head>

<body>
    <div id="box">
        <input type="checkbox" @change='handleChange()' v-model='isChangeActive'>
        <ul>
            <li v-for='data in goodList'>
                <input type="checkbox" v-model='checkGroup' :value="data" @change="handleChangeGood()">
                {{data}}
                <button @click='goodNumDel(data)'>del</button>
                <input type="text" style="width: 20px;" :value="data.number">
                <button @click='data.number++'>add</button>
            </li>

            <br>
            {{checkGroup}}
            <p>总金额是：{{ isChange()}}</p>
        </ul>
    </div>
</body>
<script>
    var vm = new Vue({
        el: "#box",
        data: {
            isChangeActive: false,
            checkGroup: [],
            goodList: [{
                name: '商品1',
                price: 10,
                number: 1,
                id: '1'
            }, {
                name: '商品2',
                price: 20,
                number: 2,
                id: '2'
            }, {
                name: '商品3',
                price: 30,
                number: 3,
                id: '3'
            }]
        },
        methods: {
            isChange: function () {
                // console.log("进入方法")
                var sum = 0;
                for (var i in this.checkGroup) {
                    sum += this.checkGroup[i].price * this.checkGroup[i].number;
                }
                return sum
            },
            handleChange: function () {
                console.log("改变状态");
                if (this.isChangeActive) {
                    this.checkGroup = this.goodList;

                } else {
                    this.checkGroup = [];
                }
            },
            handleChangeGood: function () {
                if (this.checkGroup.length === this.goodList.length) {
                    this.isChangeActive = true;
                } else {
                    this.isChangeActive = false;
                }
            },
            goodNumDel: function (data) {
                console.log(data);
                var num = data.number--;
                if (num === 1) {
                    console.log("进入")
                    data.number = 1;
                }
            }
        },

    })
</script>

</html>