.subbar {
    position: fixed;
    bottom: 100px;
    left: 50%;
    margin-left: 601px;
}

.subbar li {
    text-align: center;
    height: 30px;
    width: 30px;
    border: 1px black solid;
    line-height: 30px;
}

.subbar i {}

.subbar p {
    display: none;
}